.home-container {
  margin-top: 0;
  text-align: center;
  background-color: "#F2FDF5";
}

.carousel-container {
  position: relative;
  width: 100%;
  height: 85vh;
}

.carousel-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
  filter: brightness(0.4);
}
.carousel-content {
  position: absolute;
  left: 100px;
  top: 50%;
  transform: translateY(-50%); 
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  z-index: 2;
}
