.home-container {
  margin-top: 0;
  text-align: center;
  background-color: "#F2FDF5";
}

.carousel-container {
  position: relative;
  width: 100vw;
  /* height: 85vh; */
}

.carousel-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 80vh;
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
  filter: brightness(0.4);
}

